
#board-container{
  border: 1px solid black;
  height: 500px;
  width: 500px;
  margin: auto;
}

#board {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
}

.cell-container{
  border: 1px solid red;
  /*padding:auto;*/
}

.cell-square{
  height: 100%;
  width: 100%;
  float: left;
}

.active {
  background-color: blue;
}

.finished {

}